EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder

# Appwrite Configuration
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=69c5aea90031eb496975
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_STORAGE_ID=

# Collections IDs (Preencher após criar no Console do Appwrite)
EXPO_PUBLIC_APPWRITE_USUARIOS_COLLECTION=
EXPO_PUBLIC_APPWRITE_QUADRAS_COLLECTION=
EXPO_PUBLIC_APPWRITE_EVENTOS_COLLECTION=
EXPO_PUBLIC_APPWRITE_PARTICIPACOES_COLLECTION=
EXPO_PUBLIC_APPWRITE_MENSAGENS_COLLECTION=
EXPO_PUBLIC_APPWRITE_NOTIFICACOES_COLLECTION=
EXPO_PUBLIC_APPWRITE_AVALIACOES_COLLECTION=
EXPO_PUBLIC_APPWRITE_PAGAMENTOS_COLLECTION=
EXPO_PUBLIC_APPWRITE_FAVORITOS_COLLECTION=
